header {
    background-color: black;
    color: white;
    text-align: center;
}

main {
    background-color: gray;
    margin: 1em;
}

body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;
}